.sidebar{
  height: 100vh;
    
}

.active-link {
    background-color: #14b8a6;
    color: white;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1.75rem;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .normal-link {
    color: #14b8a6;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1.75rem;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .normal-link:hover {
    background-color: #14b8a6;
    color: white;
  }
  
  .active-link:hover {
    background-color: white;
    color: #14b8a6;
  }
  
  .sidebar-header {
    text-align: right;
    margin-top: 1.25rem;
    background-color: white;
    border-radius: 0.375rem;
    padding: 3px;
    color: #14b8a6;
  }
  
  .sidebar-header h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .sidebar-header h3 {
    font-size: 0.75rem;
  }
  
  .title{
    text-decoration: none;
  }

  .icon{
    margin-right: 15px;
    font-size: 16px;
  }