.doctor_container {
	width: 650px;
	background-color: #ffffff;
	display: flex;
    flex-direction: column;
	margin-top: 30px;
	margin-left: 30px;
	
}

.doctor_form_container {
	width: 600px;
	height: 500px;
	display: flex;
	margin-top: 30px;
    margin-left: 30px;
}

.doctor_head{
    font-size: 25px;
}

.doctor_input {
	outline: none;
	border: none;
	width: 500px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
.doctor_input:focus {
    border: 1px solid #14b8a6;
    outline: none;
    box-shadow: 0 0 5px rgba(20, 184, 166, 0.5);
}

.doctor_error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.doctor_white_btn,
.doctor_green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.doctor_green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}
