/* StaffAppointments.css */

.staff-appointments-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid; /* Color will be set dynamically */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  strong {
    font-weight: bold;
  }

  .filter-section{
    display: flex;
    flex-direction: row;
    margin: 20px;
  }
  .filterInput{
    width: 200px;
    height: 35px;
    border: 2px solid #14b8a6;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
  }

  .filterbtn{
    background-color: #14b8a6;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    border: none;
    transition: 0.5s;
  }
  .filterbtn2{
    background-color: #ffffff;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
    color: #14b8a6;
    border: 2px solid #14b8a6;
    transition: 0.5s;
  }
  .filterbtn:hover{
    background-color: #03dfc5;
  }
  .filterbtn2:hover{
    background-color: #f3f3f3;
  }
  
  .status-pending {
    color: orange;
  }
  
  .status-confirmed {
    color: blue;
  }
  
  .status-completed {
    color: green;
  }
  