.updateForm {
    max-width: 600px;
    margin: 40px;
    margin-left: 40px;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .updateForm h1 {
    margin-bottom: 20px;
    color: #000000;
  }
  
  .updateForm form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .updateForm label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555;
  }
  
  .updateForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  .updateForm input:focus {
    border: 1px solid #14b8a6;
    outline: none;
    box-shadow: 0 0 5px rgba(20, 184, 166, 0.5);
}
  
  .updateForm button {
    padding: 12px;
    background-color: #14b8a6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .updateForm button:hover {
    background-color: #19e9d1;
  }