
.patient-top-bar {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  
 
  .patient-menu-bar {
    position: fixed;
    top: 40px; 
    width: 100%;
    align-items: center;
    background-color: #ffffff; 
    z-index: 500; 
    padding-top: 20px; 
  }
  
  
  .menu-content {
    margin-left: 250px; 
  }
  
 
  .patient-nav-com {
    margin-top: 115px; 
    background-color: #fafafaee;
  }
  